<!DOCTYPE html>
<html>

<head>

	<title>EZ CV</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link crossorigin rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="./style.css">

</head>

<body>

	<!-- Main content -->
	<div ng-app="mainApp" ng-controller="mainCtrl" id="mainContainer">
		<div id="image-annotation-container">
			<!-- Image Annotation -->
			<div id="image-annotation">
				<div id="image-annotation-image-container">
					<img id="image-annotation-image" src="{{ current_img }}" class="img-fluid">
				</div>
				<canvas id="image-annotation-canvas" width="0" height="0">
					Your browser does not support the HTML5 canvas tag.
				</canvas>
			</div>
			<!-- Image carousel -->
			<div id="image-carousel">
				<div ng-repeat="img in active_images" ng-click="setImage(img)" class="img-carousel-item">
					<img src="{{ img }}" class="img-carousel-img">
				</div>
				<button id="image-carousel-left-arrow" ng-click="moveCarouselLeft()">&#60;</button>
				<button id="image-carousel-right-arrow" ng-click="moveCarouselRight()">&#62;</button>
			</div>
		</div>
		<div id="dashboard">
			<input type="text" class="form-control" placeholder="Search" ng-model="imageSearchQuery">
			<!-- Image Grid -->
			<div id="img-gallery" class="row no-gutters">
				<div ng-repeat="img in imagesFromSearch" ng-click="selectImage($event.target, img)" class="col-6">
					<img src="{{ img }}" class="img-gallery-img">
				</div>
			</div>
			<button ng-click="searchImages()">Search Images</button>
			<button ng-click="submitSelectedImages()">Select</button>
			<button ng-click="trainModel()">Train</button>
		</div>
	</div>
	

	<!-- Javascript -->

	<script type="text/javascript">

		var app = angular.module('mainApp', []);

		app.controller('mainCtrl', function($scope, $http) {

			$scope.images = [];

			$scope.left_index_bound = 0;
			$scope.num_images_in_carousel = 4;

			// should only contain the images in the user's view
			$scope.active_images = [];

			$scope.annotations = {}

			$scope.current_img = $scope.active_images[0];

			$scope.setImage = function(img) {

				// clear any current  annotation
				$scope.canvasCtx.clearRect(0, 0, $scope.canvasCtxWidth, $scope.canvasCtxHeight);

				// change image
				$scope.current_img = img;

				// overlay annotation if there is one
				if (img in $scope.annotations) {
					drawRectangle($scope.annotations[img], $scope.canvasCtx, $scope.canvasCtxWidth, $scope.canvasCtxHeight);
				}
			}

			$scope.moveCarouselLeft = function() {
				// shift visible images 1 left in the array
				if ($scope.left_index_bound > 0) {
					$scope.left_index_bound -= 1;
					// set images to between left index bound and + 4
					for (var i = $scope.left_index_bound; i < $scope.left_index_bound + $scope.num_images_in_carousel; i++) {
						$scope.active_images[i - $scope.left_index_bound] = $scope.images[i];
					}
				}
			}

			$scope.moveCarouselRight = function() {
				// shift visible images 1 right in the array
				if ($scope.left_index_bound < $scope.images.length - $scope.num_images_in_carousel) {
					$scope.left_index_bound += 1;
					// set images to between left index bound and + 4
					for (var i = $scope.left_index_bound; i < $scope.left_index_bound + $scope.num_images_in_carousel; i++) {
						$scope.active_images[i - $scope.left_index_bound] = $scope.images[i];
					}
				}
			}

			// need to keep list of active images, the ones that are displayed



			/* Canvas stuff */

			var canvas = document.getElementById('image-annotation-canvas');

			// todo: set correct dimensions
			canvas.width = canvas.offsetWidth;
			canvas.height = canvas.offsetHeight;
			canvas.style.width = canvas.offsetWidth;
			canvas.style.height = canvas.offsetHeight;

			$scope.canvasCtx = canvas.getContext("2d");
			$scope.canvasCtxWidth = canvas.offsetWidth;
			$scope.canvasCtxHeight = canvas.offsetHeight;
			$scope.inDragEvent = false;
			$scope.annotationSaved = false;

			$scope.canvasMouseDown = function(event) {
				$scope.canvasStartX = event.clientX;
				$scope.canvasStartY = event.clientY;
				$scope.inDragEvent = true;
			}

			$scope.canvasMouseMove = function(event) {
				$scope.canvasCurrentX = event.clientX;
				$scope.canvasCurrentY = event.clientY;
			}

			$scope.canvasMouseUp = function(event) {

				$scope.inDragEvent = false;

				// save annotation
				$scope.annotations[$scope.current_img] = [
					$scope.canvasStartX,
					$scope.canvasStartY,
					event.clientX,
					event.clientY
				];

			}

			document.getElementById("image-annotation-canvas").addEventListener("mousedown", $scope.canvasMouseDown);
			document.getElementById("image-annotation-canvas").addEventListener("mousemove", $scope.canvasMouseMove);
			document.getElementById("image-annotation-canvas").addEventListener("mouseup", $scope.canvasMouseUp);

			// set canvas update loop
			setInterval(function() {
				if ($scope.inDragEvent) {
					var points = sortPoints($scope.canvasStartX, $scope.canvasStartY, $scope.canvasCurrentX, $scope.canvasCurrentY);
					drawRectangle(points, $scope.canvasCtx, $scope.canvasCtxWidth, $scope.canvasCtxHeight);
				}
			}, 10);

			$scope.serverURL = 'http://35.237.13.210:8080';

			/* Get images */
			$scope.imageSearchQuery = "";
			$scope.imagesFromSearch = [];
			$scope.selectedImages = [];

			$scope.searchImages = function() {

				if ($scope.imageSearchQuery == "") return;

				$http({
					method: 'POST',
					url: $scope.serverURL + '/image_search',
					headers: { 'Content-Type': 'application/json' },
					data: { 'query': $scope.imageSearchQuery }
				}).then(function successCallback(response) {
					$scope.imagesFromSearch = response.data;
				}, function errorCallback(response) {
					console.log(response);
				});

				// clear any previous changes
				$scope.selectedImages = [];

			}

			$scope.selectImage = function(target, img) {

				if ($scope.selectedImages.includes(img)) {
					var i = $scope.selectedImages.indexOf(img);
					$scope.selectedImages.splice(i, 1);
					target.classList.remove('img-selected')
				} else {
					$scope.selectedImages.push(img);
					target.classList.add('img-selected')
				}
			}

			$scope.submitSelectedImages = function() {

				if ($scope.selectedImages.length == 0) return;

				$scope.images = $scope.selectedImages;
				// set active images to first four images in list
				for (var i = 0; i < $scope.num_images_in_carousel; i++) {
					$scope.active_images[i] = $scope.images[i];
				}

				// clear any previous changes
				$scope.selectedImages = [];
				$scope.imagesFromSearch = [];
				$scope.imageSearchQuery = "";

			}


			/* Train Model - send data to server */
			// TODO

			$scope.trainModel = function() {

				var data = JSON.stringify($scope.annotations);

				$http({
					method: 'POST',
					url: $scope.serverURL + '/train_model',
					data: data,
					headers: { 'Content-Type': 'application/json; charset=UTF-8' }
				}).then(function successCallback(response) {
					console.log(response);
				}, function errorCallback(response) {
					console.log(response);
				});
			}

		});

		// Helper Methods

		function sortPoints(x1, y1, x2, y2) {
			// sorts x1, y1, x2, y2 to ensure that the two points
			// returned are the top left and bottom right corners
			var xmin = x1 < x2 ? x1 : x2;
			var xmax = x1 > x2 ? x1 : x2;
			var ymin = y1 < y2 ? y1 : y2;
			var ymax = y1 > y2 ? y1 : y2;
			return [xmin, ymin, xmax, ymax];
		}

		function drawRectangle(points, ctx, w, h) {
			var x1 = points[0];
			var y1 = points[1];
			var x2 = points[2];
			var y2 = points[3];
			// clear canvas
			ctx.clearRect(0, 0, w, h);
			// draw current bounding box rectangle
			ctx.beginPath();
			ctx.lineWidth = 5;
			ctx.strokeStyle = "#FF0000";
			ctx.strokeRect(x1, y1, x2 - x1, y2 - y1);
			ctx.stroke();
			ctx.closePath();
		}

	</script>

</body>

</html>