html, body {
	width: calc(100vw);
	height: calc(100vh);
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#mainContainer {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

/* Image Annotation */

#image-annotation-container {
	width: calc(70vw);
	height: calc(100vh);
	margin: 0;
	padding: 0;
	display: inline-block;
}

#dashboard {
	position: fixed;
	top: 0;
	left: calc(70vw);
	width: calc(30vw);
	height: calc(100vh);
	margin: 0;
	padding: 0;
	display: inline-block;
	background: red;
}

#image-annotation {
	width: 100%;
	height: calc(80vh);
}

#image-carousel {
	width: 100%;
	height: calc(20vh);
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}

#image-annotation-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 70%;
	height: calc(80vh);
}

#image-annotation-canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 70%;
	height: calc(80vh);
}

.img-carousel-item {
	width: calc(25% - 10px);
	margin: 10px;
}
.img-carousel-img {
	width: 100%;
	height: 100%;
}

#image-carousel-left-arrow {
	position: absolute;
	top: calc(90vh - 15px);
	left: 0px;
	width: 30px;
	height: 30px;
}

#image-carousel-right-arrow {
	position: absolute;
	top: calc(90vh - 15px);
	left: calc(70vw - 30px);
	width: 30px;
	height: 30px;
}

.img-gallery-imgs {
	width: 25%;
}

.img-gallery-imgs.img-selected {
	outline: 1px solid black;
  	outline-offset: -4px;
}

/* Custom Boostrap */
.row.no-gutters {
	margin-right: 0;
	margin-left: 0;

	& > [class^="col-"],
	& > [class*=" col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}